.start-end-stations-container {
    width: 35vw;

    background-color: #fef8ee;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 50px;

    gap: 10px;
    display: flex;
    align-items: center;
}